extends layout

block content
    div.container.w-50
        a.btn.fixed-bottom.btn-info(href='/api/new_course') Create new Course
        for course in courses 
            div.bg-white
                a(href="/api/course/" + course.id ).display-4.text-muted #{course.title} 
                p.card-text ID: #{course.id}
            div.text-muted.mb-5.bg-white
                | Estimated Time: #{course.estimatedTime}
