div.container.bg-muted.mb-5.mw-100
  ul.nav.justify-content-center
    if !currentUser
      li.nav-item
        a.nav-link.text-secondary(href='/api/register') Sign Up
    li.nav-item
      a.nav-link.text-secondary(href='/api/courses') Courses
    li.nav-item
      a.nav-link.text-secondary(href='/api/users') My Profile
    if currentUser
      li.float-right
        a.btn.btn-secondary(href='/api/logout') Log OUT
    else
      li.float-right
        a.btn.btn-info(href='/api/login') Log IN